<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title> New Document </title>
  <meta name="Generator" content="EditPlus">
  <meta name="Author" content="">
  <meta name="Keywords" content="">
  <meta name="Description" content="">
 </head>

 <body>
 <%@page import="javax.servlet.*"%> 
 <%@page import="javax.servlet.http.*"%> 
 <%@page import="java.sql.*"%> 
  <font size="5" color="#ff0000">your search results in 0.64 secs</font>
  <%
 Class.forName("oracle.jdbc.driver.OracleDriver");  
			Connection con = DriverManager.getConnection("jdbc:oracle:thin:@//localhost:1521/XE","system","manager" );
			
			  Statement st=con.createStatement();
			    
			String ss=st.executeQuery("Select * from registration ");
			out.println(" "+ss);

%>




 </body>
</html>
